:root {
    --background-color: linear-gradient(to bottom left, #f6c798, #ffdfda, #f7bdd8, #b5c6f2);
    --primary-color: #cf83a7;
    --primary-hover-color: #ca9bb1;
    --header-footer-color: rgba(22, 22, 22, 0.555);
    --msg-box-color: linear-gradient(to bottom left, #f6c798, #f7bdd8, #b5c6f2);
    --text-color: #f1f1f1;
    --hover-shadow-color: rgba(0, 0, 0, 0.6);
    --border-color: #414141;
    --highlight-color: #888;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--background-color)
}

.header {
    display: flex;
    background-color: var(--header-footer-color);
    color: var(--text-color);
    justify-content: space-between;
    text-align: center;
    align-items: center;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.6);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    margin-bottom: 40px;
}

.header h1 {
    margin-right: 15px;
}

.header img {
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;
}

.form-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 90%;
}

.intro {
    background-color: var(--header-footer-color);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 350px;
    flex: 1;
    width: 100%;
    max-width: 600px;
    margin: 10px;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s;
}

.intro:hover {
    transform: scale(1.01);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.6);
}

.intro h3 {
    color: var(--primary-color);
    font-size: 28px;
    margin-bottom: 15px;
}

.intro p {
    color: var(--text-color);
    font-size: 16px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;

}

.login-form-container {
    background-color: var(--header-footer-color);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
    flex: 1;
    width: 100%;
    max-width: 600px;
    margin: 10px;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s;
}

.login-form-container:hover {
    transform: scale(1.01);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.6);
}

.login-form-container h3 {
    color: var(--primary-color);
    font-size: 28px;
    margin-bottom: 20px;
}

.chat-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chat-form input,
.chat-form textarea {
    background-color: var(--header-footer-color);
    color: var(--text-color);
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
}

.chat-form input::placeholder,
.chat-form textarea::placeholder {
    color: var(--highlight-color);
}

.chat-form button {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 12px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.chat-form button:hover {
    background-color: var(--primary-hover-color);
    transform: scale(1.02);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

.chat-form p {
    color: var(--highlight-color);
    text-align: center;
}

.footer {
    background-color: var(--header-footer-color);
    text-align: center;
    color: var(--text-color);
    padding: 20px 0 20px 0;
    margin-top: 40px;
    width: 100%;
    box-shadow: 0 -2px 50px rgba(0, 0, 0, 0.6);
}

.footer p {
    font-size: 14px;
    margin: 5px 0;
}

.footer a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .form-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width: 100%;
    }

    .intro {
        width: 80%;
    }

    .login-form-container {
        width: 80%;
    }
}

@media (max-width: 600px) {

    .chat-form input,
    .chat-form textarea {
        font-size: 14px;
    }

    .form-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .intro {
        width: 80%;
        padding: 10px;
    }

    .login-form-container {
        width: 80%;
        padding: 10px;
    }

    .chat-form button {
        font-size: 15px;
    }
}