body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #1f1f1f;
    border-bottom: 2px solid #3700b3;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-size: 2rem;
}

.user-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    background-color: #3700b3;
    border-radius: 2rem;
    padding-inline-end: 1rem;
}

.user-icon a {
    text-decoration: none;
    color: inherit;
}

.icon-circle {
    width: 40px;
    height: 40px;
    background-color: #6200ea;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.user-name {
    font-weight: 500;
}


.button-style {
    background-color: #6200ea;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-style:hover {
    background-color: #3700b3;
    transform: scale(1.02);
}

.two-btn {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 10px;
}

.two-btn button {
    padding: 15px;
    margin: 10px;
    width: 6rem;
}

.footer-btn a {
    padding: 1rem;
}

.del-btn:hover {
    background-color: red;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

.chat-container {
    width: 90%;
    max-width: 50rem;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

.chat-box {
    background-color: #1e1e1e;
    border: 2px solid #6200ea;
    border-radius: 10px;
    border-bottom-right-radius: 5rem;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out, box-shadow 0.3s;
}

.chat-box:hover {
    transform: scale(1.02);
    border: 2px solid #3700b3;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
}

.chat-info p,
.Created-time p {
    margin: 0 0 10px;
    font-size: 14px;
}

.Created-time {
    padding-top: 10px;
    font-size: 12px;
    color: #414141 !important;
}

.chat-info {
    display: flex;
    justify-content: space-between;
    color: #a1a1a1;
    margin-bottom: 10px;
}

.chat-message {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
    color: #f1f1f1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
    white-space: normal;
}

.form-container {
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.form-container h3 {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.chat-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.chat-form input {
    resize: none;
    background-color: #333;
    color: #f1f1f1;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.chat-form input::placeholder,
.chat-form textarea::placeholder {
    color: #a1a1a1;
}

.chat-form textarea {
    resize: none;
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #f1f1f1;
    border: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    min-height: 150px;
}

.footer {
    background-color: #1f1f1f;
    text-align: center;
    color: #a1a1a1;
    padding: 1.5rem;
    margin-top: auto;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    border-top: 2px solid #3700b3;
}

.message-section {
    background-color: #1e1e1e;
    display: inline-block;
    padding: 1rem;
    border: 2px solid #6200ea;
    border-radius: 5px;
    border-bottom-right-radius: 2rem;
    margin: 1rem;
    width: 30rem;
    height: 10rem;
    text-align: start;
    overflow-y: auto;
    scrollbar-width: none;
    position: relative;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s;
}

.message-section::-webkit-scrollbar {
    display: none;
}

textarea::-webkit-scrollbar {
    display: none;
}

.message-section h3 {
    padding: 5px !important;
    margin: 0px !important;
    border-radius: 5px;
    display: inline;
    color: #6200ea !important;
    ;
    position: sticky;
    top: 0;
    z-index: 1000 !important;
    background-color: #414141;
    width: 100%;
    text-align: start;
}

.message-section:hover {
    border: 2px solid #3700b3;
    transform: scale(1.02);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
}

.Created-time {
    display: flex;
    justify-content: space-between;
    padding-inline-end: 2rem;
    color: #a1a1a1;
}

.time {
    font-weight: 900;
}

.options-form {
    text-align: center;
    color: #a1a1a1;
    margin-top: 20px;
}

.options-form a {
    color: #6200ea;
    text-decoration: none;
    font-weight: bold;
}

.options-form a:hover {
    text-decoration: underline;
}

.password-requirements {
    margin: 0;
    padding: 0; 
    font-size: 12px;
    color: #888;
    text-align: left; 
}
.otp-section{
    display: flex;
}
#otpField{
    padding-left: 5px;
}


    #dropdownValue {
    background-color: #333;
    color: #f1f1f1;
    border: none;
    padding: 10px;
    border-radius: 5px;
    }

    #dropdownValue:focus {
        border-color: #fff;
    }

    #dropdownValue option {
        font-size: 1rem;
    }
    .dropdownValueLabel{
        display: inline-block;
         vertical-align:bottom; 
       text-align: left;
    }


/* For tablets (portrait and landscape) */
@media (max-width: 768px) {
    .header h1 {
        font-size: 1.8rem;
    }
    .chat-box .chat-info p{
        font-size: 12px;
    }
    .form-container {
        max-width: 90%;
    }

    .chat-message {
        flex-direction: column;
        align-items: flex-start;
    }

    .user-icon {
        padding-inline-end: 0.5rem;
        font-size: 14px;
    }

    .icon-circle {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }

    .container,
    .chat-container,
    .form-container {
        width: 90%;
        padding: 0 10px;
    }

    .message-section {
        width: 85%;
        height: auto;
    }

    .two-btn {
        display: flex;
        justify-content: space-between;
    }

    .two-btn button {
        padding: 15px;
        margin: 10px;
        width: 5rem;
    }

    .chat-box,
    .message-section {
        padding: 15px;
    }

    .chat-form input,
    .chat-form textarea {
        font-size: 12px;
    }
}

/* For mobile phones (small screens) */
@media (max-width: 480px) {
    .header h1 {
        font-size: 1.4rem;
    }

    .chat-box .chat-info p{
        font-size: 10px;
    }

    .user-icon {
        gap: 5px;
        font-size: 12px;
        background-color: inherit;
    }

    .icon-circle {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .user-name {
        display: none;
    }

    .chat-container,
    .container {
        padding: 0 5px;
    }

    .chat-box,
    .message-section {
        padding: 10px;
        margin: 10px 0;
    }

    .chat-message {
        flex-direction: column;
        align-items: flex-start;
    }

    .message-section {
        width: 90%;
        height: auto;
    }

    .message-section h3 {
        font-size: 1rem;
    }

    .chat-form input,
    .chat-form textarea {
        font-size: 10px;
        padding: 8px;
    }

    .button-style {
        font-size: 12px;
        padding: 8px 16px;
    }

    .message-section {
        max-width: 100%;
    }
}