:root {
  --background-color: linear-gradient(to bottom left, #f6c798, #ffdfda, #f7bdd8, #b5c6f2);
  --primary-color: #cf83a7;
  --primary-hover-color: #ca9bb1;
  --header-footer-color: rgba(22, 22, 22, 0.555);
  --msg-box-color: linear-gradient(to bottom left, #f6c798, #f7bdd8, #b5c6f2);
  --text-color: #f1f1f1;
  --hover-shadow-color: rgba(0, 0, 0, 0.6);
  --border-color: #414141;
  --highlight-color: #888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  font-family: 'Arial', sans-serif;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  padding: 30px;
  background-color: var(--header-footer-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  animation: fadeIn 1s ease-in-out;
}

.emoji {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin: 0 auto 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.eye {
  position: absolute;
  top: 40%;
  width: 20px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  transition: 1s;
}

.eye::after {
  content: '';
  position: absolute;
  top: 25%;
  left: 25%;
  width: 10px;
  height: 10px;
  background-color: var(--text-color);
  border-radius: 50%;
}

.eye.left {
  left: 35%;
}

.eye.right {
  right: 35%;
}

@keyframes blink {
  0%,
  95% {
    transform: scaleY(1);
  }

  96%,
  100% {
    transform: scaleY(0.1);
  }
}

.eye {
  animation: blink 3s infinite;
}

.mouth {
  position: absolute;
  bottom: 25%;
  left: 50%;
  width: 60px;
  height: 10px;
  background-color: black;
  border-radius: 20px;
  transform: translateX(-50%);
}

.message {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.sub-message {
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 20px;
}

.go-back-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.go-back-btn:hover {
  background-color: var(--primary-hover-color);
  transform: scale(1.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }

  .message {
    font-size: 20px;
  }

  .sub-message {
    font-size: 16px;
  }

  .go-back-btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}